<h1 id="tableLabel">Students</h1>

<p *ngIf="!students"><em>Loading...</em></p>

<table
  class="table table-striped"
  aria-labelledby="tableLabel"
  *ngIf="students"
>
  <thead>
    <tr>
      <th>Name</th>
      <th>English</th>
      <th>Math</th>
      <th>Science</th>
      <th>Social Studies</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let s of students">
      <td>{{ s.name }}</td>
      <td>{{ s.english }}</td>
      <td>{{ s.math }}</td>
      <td>{{ s.science }}</td>
      <td>{{ s.socialStudies }}</td>
    </tr>
  </tbody>
</table>
Name
<input [(ngModel)]="newStudent.name" name="name" />
<br />
<br />
English
<input [(ngModel)]="newStudent.english" name="english" />
Math
<input [(ngModel)]="newStudent.math" name="math" />
Science
<input [(ngModel)]="newStudent.science" name="science" />
Social Studies
<input [(ngModel)]="newStudent.socialStudies" name="socialStudies" />
<br />
<br />
<button (click)="save()">Save</button>
