/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: linear-gradient(
    to bottom,
    #fffad1,
    #fffad1 99%,
    #d1d8ff 1%,
    #d1d8ff
  );
  /* The rectangle in which to repeat. 
   It can be fully wide in this case */
  background-size: 100% 59px;
}
