<h1 id="tableLabel">Courses</h1>

<p *ngIf="!courses"><em>Loading...</em></p>

<input matInput
       (keyup)="applyFilter($event.target.value)"
       placeholder="Filter" />

<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
  <ng-container matColumnDef="type">
    <th mat-header-cell *matHeaderCellDef mat-sort-header width="15%">TYPE</th>

    <th mat-cell *matCellDef="let course">{{ course.type }}</th>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header width="30%">NAME</th>

    <th mat-cell *matCellDef="let course">{{ course.name }}</th>
  </ng-container>

  <ng-container matColumnDef="category">
    <th mat-header-cell *matHeaderCellDef mat-sort-header width="15%">CATEGORY</th>

    <th mat-cell *matCellDef="let course">{{ course.category }}</th>
  </ng-container>

  <ng-container matColumnDef="webSite">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>WEBSITE</th>

    <th mat-cell *matCellDef="let course">{{ course.webSite }}</th>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

