<h1 id="tableLabel">Home Scholars</h1>

<p *ngIf="!homeScholars"><em>Loading...</em></p>

<table
  class="table table-striped"
  aria-labelledby="tableLabel"
  *ngIf="homeScholars"
>
  <thead>
    <tr>
      <th>Name</th>
      <th>English</th>
      <th>Math</th>
      <th>Science</th>
      <th>Social Studies</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let h of homeScholars">
      <td>{{ h.name }}</td>
      <td>{{ h.english }}</td>
      <td>{{ h.math }}</td>
      <td>{{ h.science }}</td>
      <td>{{ h.socialStudies }}</td>
    </tr>
  </tbody>
</table>
Name
<input [(ngModel)]="newHomeScholar.name" name="name" />
English
<input [(ngModel)]="newHomeScholar.english" name="english" />
Math
<input [(ngModel)]="newHomeScholar.math" name="math" />
Science
<input [(ngModel)]="newHomeScholar.science" name="science" />
Social Studies
<input [(ngModel)]="newHomeScholar.socialStudies" name="socialStudies" />
<button (click)="save()">Save</button>
