<h1>Home School Class</h1>
<br />
<p>An easy way to start Home Schooling!</p>
<p>Quick links to assist homeschooling families learn togother through
  online classes or using print and digital curriculum.</p>
<p>
  To help you get started, a list of online courses & example schedules
  are provided. Many of the classes are free, but there are also links
  for paid services, books, and classes.
</p>
<br />
<p>How to Get Started?</p>
<p>
  Review the list of courses and visit the links provided to get an idea of
  what is available and look at the schedules of other students to see what
  others are doing.
</p>
<br />
<p>
  Then choose what is right for your home school. Choose the
  style, method and type of course that fits your family.
</p>
<p>
  The online addresses provided are intended to meet the minimum necessary
  requirements for the core subjects. There may be other requirements in your
  State, or you may decide to include classes not listed.
</p>
<p>
  After deciding on a class schedule for your favorite Home Scholar, please add
  your schedule to the list, for others to follow your example.
</p>
<br />
<p>Thank You!</p>
