<h1>Home School Class</h1>
<br />
<p>An easy way to start Home Schooling!</p>
<br />
<p>To help you get started, there are example schedules
  & a list of FREE online courses. </p>
<br /><br />
<p>Get Started</p>
<br />
<p>
  Review the list of courses and visit the
  provided addresses to get an idea of what is available.
</p>
<br />
<p>
  Then choose what is right courses for your home school.
</p>
<p>The online addresses provided are intended to meet the
  minimum necessary requirements for the core subjects.
  There may be other requirements in your State, or you
  may decide to include classes not listed.
</p>
<br />
<p>After deciding on a class schedule for your
  favorite Home Scholar, please add the schedule to the
  Students list for others to follow your example.
  </p>
<br />
<p>Thank You!</p>
